// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";

#errorUsername {
  color: $state-danger-text;
}

.userImage {
  width: 120px;
  height: 120px;
}

.displayName {
  font-size: 16px;
  font-weight: bold;
  margin: 15px;
}

#signalPointsChart {
  height: 230px;
}

#addClass {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.alertHide {
  display: none;
}

i.bigIcon {
  font-size: 25px;
}

#search-btn {
  cursor: default;
}

#dropdown-content {
  position: relative;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0px;
  overflow-y: scroll;
  max-height: 100px;
  display: none;
}

.sidebar-form:hover #dropdown-content:hover {
  display: none;
}

#dropdown-content p {
  padding: 2px;
  margin-bottom: 0px;
  list-style-type: none;
}

#dropdown-content p:hover {
  background-color: #3c8dbc;
  cursor: pointer;
}

.danger-font--color {
  color: red;
}

.loadingGif {
  position: absolute;
  transform: scale(0.05);
  z-index: 1;
  top: -40%;
  left: 15%;
  margin-right: auto;
  margin-left: auto;
  display: none;
}

.blurBackground {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loadingGifBox {
  position: absolute;
  width: 97px;
  height: 97px;
  z-index: 1;
  left: 50%;
  top: 25%;
  margin-right: auto;
  margin-left: auto;
  display: none;
}

.sidebar-menu-overview{
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: -25px;
}
.sidebar-menu-overview li{
  color: white;
  list-style: none;
}
